*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.App_header{
  text-align: center;
}
.Card {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  }

  .cards{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    padding: 40px;
    margin: 20px;
    /* grid-auto-rows: minmax(50px, auto); */
    gap: 10px;
    border: 1px solid silver;
    box-shadow: 2px 1px 38px -4px rgba(19,21,21,0.75) inset;
-webkit-box-shadow: 2px 1px 38px -4px rgba(19,21,21,0.75) inset;
-moz-box-shadow: 2px 1px 38px -4px rgba(19,21,21,0.75) inset;
  }

  .button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  .button:hover{
    color: white;
    background-color: rgba(122, 122, 212, 0.575);
  }
 .header{
   height: 70px;
   padding-top: 20px;
   text-align: center;
   background-color:rgb(36, 82, 63);
 }
  .header_button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: whitesmoke;

  }